body{
   line-height: 1.6;
   margin: 0;
   padding: 0;
   background-color: rgb(246, 255, 0); 
}
header{
color: #ffffff;
background: #000000;
  padding: 20px;  
  text-align: center;
}
h1{
margin: 0;
} 
h2{
    color: rgb(255, 255, 255);
}

.biography, .hobbies, .facts{
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background: #5b5353;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, tr {
    border: 1px solid #000000;
    padding: 20px;
}
th{
    background-color: #000000;
    color: #ffffff;
}
footer{
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}